# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Node
node_modules/

# Data & temp
/tmp/
*.log
/data/outputs/
bronze/raw
bronze/wiki_raw
bronze/raw_web

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
